MONGODB_USERNAME=""
MONGODB_PASSWORD=""
MONGODB_URI=""
URL_BACKEND = "http://localhost:3000" # ou url de produção
JWT_SECRET = '123'
ALLOWED_ORIGIN = 'http://localhost:5173' #url local do frontend ou produção
SECURE_HTTP = 0 # em produção (HTTPS e domínios diferentes) use 1 para cookie SameSite=None + Secure